<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <title>To-Do list</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-6 col-offset-3 jumbotron">
                <div class="text-center">
                    <h1 class="display-4">{% block title %}{% endblock title %}</h1>
                    <form method="post" action="{% block action %}{% endblock action %}">
                        <input name="item_text" id="id_new_item" class="form-control form-control-lg"
                               placeholder="Enter a to-do" />
                    {% csrf_token %}
                        {% if error %}
                            <div class="form-group has-error">
                                <span class="help-block">
                                    <p class="error_text">
                                        {{ error }}
                                    </p>
                                </span>
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            {% block table %}
            {% endblock table %}
        </div>
    </div>
</body>
</html>