<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <title>To-Do list</title>
</head>
<body>
    <div class="container">
        <div class="navbar">
            {% if user.is_authenticated %}
                <p>Logged in as {{ user.email }}</p>
                <p><a id="id_logout" href="{% url 'logout' %}">Log out</a> </p>
            {% else %}
                <form method="post" action="{% url 'send_login_email' %}">
                    Enter email to log in: <input name="email" type="text" />
                    {% csrf_token %}
                </form>
            {% endif %}
        </div>
        <div class="row justify-content-md-center">
            <div class="col-6 col-offset-3 jumbotron">
                <div class="text-center">
                    <h1 class="display-4">{% block title %}{% endblock title %}</h1>
                    <form method="post" action="{% block form_action %}{% endblock form_action %}">
                        {{ form.text }}
                        {% csrf_token %}
                        {% if form.errors %}
                            <div class="form-group has-error">
                                {{ form.text.errors|escape }}
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            {% block table %}
            {% endblock table %}
        </div>
    </div>
    <script type="text/javascript" src="/static/jquery-3.6.1.min.js"></script>
    <script type="text/javascript" src="/static/list.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            window.Superlist.initialize();
        });
    </script>

</body>
</html>